In [16]:
import pandas as pd

In [17]:
# import re, requests
# from bs4 import BeautifulSoup

# url = "https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# html = requests.get(url, timeout=60).text
# soup = BeautifulSoup(html, "html.parser")
# urls = sorted({
#     a["href"] for a in soup.select("a[href]")
#     if re.match(r"https://d37ci6vzurychx\.cloudfront\.net/trip-data/[a-z]+_tripdata_\d{4}-\d{2}\.parquet", a["href"])
# })
# print("\n".join(urls))

In [21]:
import duckdb
con = duckdb.connect()
con.execute("INSTALL httpfs; LOAD httpfs;")

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-07.parquet"
df = con.execute(f"SELECT * FROM read_parquet('{url}') LIMIT 5").df()
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2024-07-01 00:34:56   2024-07-01 00:46:49                1
1         2  2024-06-30 23:48:58   2024-07-01 00:28:04                1
2         2  2024-07-01 00:23:18   2024-07-01 00:29:51                1
3         1  2024-07-01 00:10:33   2024-07-01 00:27:31                0
4         1  2024-07-01 00:07:55   2024-07-01 00:34:34                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           3.20           1                  N           140            79
1          19.48           2                  N           132           113
2           1.18           1                  N           237           145
3           9.10           1                  N           138           164
4          17.70           2                  N           132           263

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         15.6   3.50      0.5        3.50          0.00
1             2         70.0   0.00      0.5        0.00          0.00
2             1          8.6   1.00      0.5        2.72          0.00
3             1         36.6  10.25      0.5       12.05          0.00
4             1         70.0   1.75      0.5       10.00          6.94

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         24.10                   2.5         0.00
1                    1.0         75.75                   2.5         1.75
2                    1.0         16.32                   2.5         0.00
3                    1.0         60.40                   2.5         1.75
4                    1.0         90.19                   0.0         1.75

In [23]:
import duckdb
con = duckdb.connect()
con.execute("INSTALL httpfs; LOAD httpfs;")

base = "https://d37ci6vzurychx.cloudfront.net/trip-data/"
years = [2023, 2024]                       # <- add more years if you want
urls = [f"{base}yellow_tripdata_{y}-{m:02d}.parquet"
        for y in years for m in range(1,13)]

# Create a table from ALL matching files
con.execute("CREATE OR REPLACE TABLE yellow AS SELECT * FROM read_parquet(?);", [urls])

# Example query
print(con.execute("""
  SELECT DATE_TRUNC('month', tpepPickupDatetime) AS month, COUNT(*) AS trips
  FROM yellow
  GROUP BY month ORDER BY month
""").df().head())

Python(58194,0x1751a3000) malloc: Failed to allocate segment from range group - out of space

BinderException: Binder Error: Referenced column "tpepPickupDatetime" not found in FROM clause!
Candidate bindings: "tpep_pickup_datetime", "tpep_dropoff_datetime", "trip_distance", "improvement_surcharge", "tip_amount"

LINE 2:   SELECT DATE_TRUNC('month', tpepPickupDatetime) AS month, COUNT(*) AS trips
                                     ^